<div id='card' class='container border-2 border-zinc-600 w-64'>
    {{#if item_has_pic}}
        <img src="/img/items/{{item_id}}.webp" alt="dish" class='img w-[270px] h-[270px]'>
    {{else}}
        <img src="/img/items/image_not_available.png" alt="not avalible" style="width: 200px; height: 200px;">
    {{/if}}
    <div class='text-center'>
        <p class='font-dosis text-xl'>{{item_name}}</p>
        <p class='font-dosis text-xl'>{{color_name}}</p>
    </div>
</div>