{{! Card with picture and item name, color, quantity and delete buttons }}
<div style="border: 1px black solid;">
  {{!-- Delete button if on home page --}}
  {{!-- Edit button if on home page --}}
  {{!-- Item.pictureLocation? --}}
  <p>{{item_name}}</p>
  <p>{{color_name}}</p>
  <p>{{quantity}}</p>

  {{!-- quantity if on home page --}}
</div>