{{!-- Nav bar for home and browse pages --}}
<nav class='sticky top-0 bg-zinc-600 text-white flex flex-col items-center sm:justify-between sm:flex-row'>
    <h1 class='font-serif m-4 sm:ml-6 text-2xl md:text-4xl lg:text-5xl'>Fiesta Collector</h1>
    <div class='flex items-center sm:mr-6'>
        <a href='../' class='font-dosis text-xl md:text-2xl m-3 hover:text-orange-400'>Your Collection</a>
        <a href='../browse' class='font-dosis text-xl md:text-2xl m-3 hover:text-orange-400'>Browse</a>
        <button id='logOutButton' class='font-dosis text-xl md:text-2xl m-3 hover:text-orange-400'>Log Out</button>
  </div>
</nav>
<div id='hidden' class='absolute hidden flex justify-center top-0 w-full mt-5'>
  <div class='h-10 w-[263px] md:w-[351px] lg:w-[483px] rounded-lg text-center text-zinc-600 border-4 border-orange-400 bg-white flex items-center'>
    <h2 class='font-dosis text-xl w-full'>Failed to log out, please try again</h2>
    <i id='x' class='absolute fa-solid fa-xmark text-xl ml-[236px] md:ml-[320px] lg:ml-[450px]'></i>
  </div>
</div>

<script defer src='/js/home.js'></script>