{{!-- Nav bar for home and browse pages --}}
<nav class='sticky top-0 bg-zinc-600 text-white flex flex-col items-center sm:justify-between sm:flex-row'>
    <h1 class='font-serif m-4 sm:ml-6 text-2xl md:text-4xl lg:text-5xl'>Fiesta Collector</h1>
    <div class='flex items-center sm:mr-6'>
        <a href='../' class='font-dosis text-xl md:text-2xl m-3 hover:text-orange-400'>Your Collection</a>
        <a href='../browse' class='font-dosis text-xl md:text-2xl m-3 hover:text-orange-400'>Browse</a>
        <button id='logOutButton' class='font-dosis text-xl md:text-2xl m-3 hover:text-orange-400'>Log Out</button>
  </div>
</nav>

<script defer src='/js/home.js'></script>