{{!-- Nav bar for home and browse pages --}}
<nav>
    <h1>Fiesta Collector</h1>

    <a href="../home.handlebars" class="">Your Collection</a>
    <a href="../browse.handlebars" class="">Browse</a>
</nav>