/* * {
    background-color: rgb(212 212 216);
} */

/* .backimg {
    background-image: url('../../img/orangeboho.jpg');
    background-repeat: repeat;
} */

/* .orange {
    background-color: rgb(23, 23, 223);
} */
 body {
    overflow: hidden;
 }
 
.line {
    border-right: 2px solid rgb(161 161 170);
    height: 100%;
}