{{> nav}}
<div class='lg:flex'>
  {{> filters}}
  <main id="main" class='scroll line'>
    <div id='itemCards' class='flex flex-wrap justify-around lg:justify-start gap-4 m-8 ml-14'>
      {{#each items as |item|}}
        {{> browseCard}}
      {{/each}}
    </div>
  </main>
</div>
