{{! Browse items page }}

{{> nav}}
<div class="grid grid-cols-[1fr_5fr]"> {{! Change this grid columns later }}
  {{> filters}}
  <main class="scroll">
    <div id="browseCards" class="flex flex-wrap gap-4 m-2">
      {{#each items as |item|}}
        {{> itemCard}}
      {{/each}}
    </div>
  </main>
</div>
