{{> nav}}
<div class='lg:flex'>
  {{> filters}}
  <main class='scroll m-3 col-span-4'>
    <div id='itemCards' class='flex flex-wrap gap-4 m-8 ml-14'>
      {{#each items as |item|}}
        {{> browseCard}}
      {{/each}}
    </div>
  </main>
</div>
