{{! Collection page }}

{{> nav}}

<div class="grid grid-cols-[1fr_5fr] h-full"> {{! Change this grid columns later }}
  {{> filters}}
  <main>
    <h2 class='font-dosis text-4xl m-2'>{{name}}'s Fiesta Collection</h2>
    <div id="itemCards" class="flex flex-wrap gap-4 m-2">
      {{#each inventory as |item|}}
        {{> itemCard}}
      {{/each}}
    </div>
  </main>
</div>

