{{! Collection page }}

{{> nav}}

<div class='grid grid-cols-2'> {{! Change this grid columns later }}
  {{> filters}}
  <main class='m-3'>
    <h2 class='font-dosis text-center lg:text-left text-4xl m-2'>{{name}}'s Fiesta Collection</h2>
    <div id="itemCards" class="flex flex-wrap justify-center gap-4 m-2">
      {{#each inventory as |item|}}
        {{> itemCard}}
      {{/each}}
    </div>
  </main>
</div>

