{{! Collection page }}

{{> nav}}



<div class="grid grid-cols-[1fr_5fr] h-full"> {{! Change this grid columns later }}
  {{> filters}}
  <main>
    <h2 class='font-dosis text-xl m-2'>{{name}}'s Fiesta Collection</h2>
    <div class='absolute hidden h-[500px] w-[500px] bg-orange-400 border-2 border-zinc-400 z-10'>
      <h2 class='text-zince-600 text-3xl'>Card Edit</h2>
    </div>
    <div id="itemCards" class="flex flex-wrap gap-4 m-2">
      {{#each inventory as |item|}}
        {{> itemCard}}
      {{/each}}
    </div>
  </main>
</div>


<div class="modal-container hidden">
  <div class="model">
    <h2 class='text-zince-600 text-3xl'>Card Edit</h2>
    <img src='/img/sun.jpg' alt='dish' class='img'> 
    <div class='text-center grid grid-rows-3 '>
      <p class='font-dosis text-xl '>{{item_name}}</p>
      <p class='font-dosis text-xl '>{{color_name}}</p>
      <p class='font-dosis text-xl'>Quantity: {{quantity}}</p>
      <button class='font-dosis text-zinc-600 bg-orange-400 border-2 border-zinc-600'>Save</button>
    </div>
  </div>
</div>
