{{! Collection page }}

{{> nav}}

<div class="grid grid-cols-[1fr_5fr]"> {{! Change this grid columns later }}
  {{> filters}}
  <main>
    <h2>{{name}}'s Fiesta Collection</h2>
    <div class="container flex flex-wrap">
      {{#each inventory as |item|}}
        {{> itemCard}}
      {{/each}}
    </div>
  </main>
</div>