{{! Collection page }}

{{> nav}}
{{> filters}}

{{! each loop of itemCards }}
{{!-- <h1>From home.handlebars file</h1> --}}
<h2>{{name}}'s Fiesta Collection</h2>
{{#each inventory as |item|}}
  {{> itemCard}}
{{/each}}
