{{! Style as login page (slide1) }}
<h1 class='bg-red-400'>From login.handlebars file</h1>
<input id='nameInput' />
<input id='emailInput' />
<input id='passwordInput' />
<button id='button'>
  Click to Add
</button>

<script src='/js/login.js'></script>