{{!-- Style as login page (slide1) --}}
{{!-- <h1 class="bg-red-400">From login.handlebars file</h1>
<input id="nameInput">
</input>
<input id="emailInput">
</input>
<input id="passwordInput">
</input>
<button id="button" class="bg-indigo-400 hover:bg-indigo-600">
  Click to Add
</button> --}}
</main>
    <div>
        <h1 class="font-serif text-4xl md:text-6xl lg:text-8xl text-center pt-5">Fiesta Collector💃</h1>
    </div>
    <div class="">

    </div>
<main>
    


<script src='/js/login.js'></script>
