{{!-- Style as login page (slide1) --}}
{{!-- <h1 class="bg-red-400">From login.handlebars file</h1>
<input id="nameInput">
</input>
<input id="emailInput">
</input>
<input id="passwordInput">
</input>
<button id="button" class="bg-indigo-400 hover:bg-indigo-600">
  Click to Add
</button> --}}
<main class=''>
{{!-- <main class='bg-repeat bg-center h-full w-full' style="background-image: url('../img/orangeboho.jpg')"> --}}
    <div class='h-full flex items-center flex-col'>
        <div class='max-w-lg max-h-lg'>
            <div class='my-8'>
                <h1 class='font-serif text-4xl md:text-6xl lg:text-8xl text-center pt-5'>Fiesta Collector</h1>
            </div>
            <ol>
                <li class='flex flex-col'>
                    <input id='emailInput' placeholder='example@email.com' class='hover:bg-zinc-300 rounded-lg border-solid border-2 border-zinc-600 text-center w-full my-2 py-1'>
                    </input>
                    <input id='passwordInput' placeholder='Password' class='hover:bg-zinc-300 rounded-lg border-solid border-2 border-zinc-600 text-center w-full my-2 py-1'>
                    </input>
                </li>
                <li class='flex justify-center'>
                    <button id='button' class='bg-orange-400 hover:bg-zinc-300 w-full rounded-lg mt-4 mb-4 py-2'>
                            Login
                    </button>
                </li>
                <hr class='mt-5 border-2'>
                <li class='text-center m-3'>
                    <h4 class='text-lg'>Don't have an account?</h4>
                    <a href='./signUp.handlebars' class='text-orange-400'>Creat account</a>
                </li>
            </ol>
        </div>
    </div>
</main>
{{!-- <main>
    <div class='h-full flex items-center flex-col'>
        <div class='max-w-lg max-h-lg'>
            <div class='my-8'>
                <h1 class='font-serif text-4xl md:text-6xl lg:text-8xl text-center pt-5'>Fiesta Collector</h1>
            </div>
            <div class='flex flex-col '>
                <input id='emailInput' placeholder='example@email.com' class=' hover:bg-zinc-300 rounded-lg border-solid border-2 border-zinc-600 m-2 text-center'>
                </input>
                <input id='passwordInput' placeholder='Password' class='hover:bg-zinc-300 rounded-lg border-solid border-2 border-zinc-600 m-2 text-center'>
                </input>
            </div>
            <div class='flex justify-center'>
                <button id="button" class="bg-orange-400 hover:bg-zinc-300 w-3/4 rounded-lg m-2">
                        Login
                </button>
            </div>
            <br/>
            <div class='text-center m-3'>
                <h4 class='text-lg'>Don't have an account?</h4>
                <a href='./signUp.handlebars' class='text-orange-400'>Creat account</a>
            </div>
        </div>
    </div>
</main> --}}

<script src='/js/login.js'></script>
