{{!-- Style as login page (slide1) --}}
<h1 class="bg-red-400">From login.handlebars file</h1>
<input id="nameInput">
</input>
<input id="emailInput">
</input>
<input id="passwordInput">
</input>
<button id="button">
    Click to Add
</button>


<script src='/js/login.js'></script>
