{{! signup (slide 3) }}

<main class=''>
{{!-- <main class='bg-repeat bg-center h-full w-full' style="background-image: url('../img/orangeboho.jpg')"> --}}
    <div class='h-full flex items-center flex-col md:justify-center'>
        <div class=''>
            <div class='my-8'>
                <h1 class='font-serif text-4xl md:text-5xl lg:text-6xl text-center pt-5'>Fiesta Collector</h1>
            </div>
            <ol>
                <li class='flex flex-col'>
                {{!-- <li class='flex gap-4 sm:grid-cols-1 md:grid-rows-1'> --}}
                    <input id='nameInput' placeholder='Your name' class='hover:bg-zinc-300 rounded-lg border-solid border-2 border-zinc-500 text-center w-full my-2 py-1 font-dosis lg:text-lg'/>
                    <input id='emailInput' placeholder='example@email.com' class='hover:bg-zinc-300 rounded-lg border-solid border-2 border-zinc-500 text-center w-full my-2 py-1 font-dosis lg:text-lg'/>
                    <input id='passwordInput' type='password' placeholder='Password' class='hover:bg-zinc-300 rounded-lg border-solid border-2 border-zinc-500 text-center w-full my-2 py-1 font-dosis lg:text-lg'>
                        <i id='toggle' class="fa-regular fa-eye-slash absolute mt-[138px] ml-2.5 text-zinc-500"></i>
                    </input>
                </li>
                <li class='flex justify-center'>
                    <button id='button' class='bg-orange-400 hover:bg-zinc-300 w-full rounded-lg mt-4 mb-4 py-2 font-dosis'>
                            Sign Up
                    </button>
                </li>
                <hr class='mt-5 mb-5 border-2 border-zinc-500'>
                <li class='text-center m-3'>
                    <h4 class='text-xl font-dosis'>Already have an account?</h4>
                    <a href='./login' class='text-orange-400 hover:text-zinc-400 font-dosis text-lg'>Login here</a>
                </li>
            </ol>
        </div>
    </div>
</main>

<script src='/js/signUp.js'></script>